body {
    padding: 0;
    margin: 0;
}
.header {
    background-image: url('/images/background-01.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.block-welcome-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #2994b2;
    padding: 13px 180px;
    font-family: "VT323";
    font-size: 40px;
    color: #fffbe0;
    cursor: pointer;
    text-align: center;
}
.block-play-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #2994b2;
    padding: 20px 180px;
    margin-bottom: 5%;
    font-family: "VT323";
    font-size: 48px;
    color: #fffbe0;
    cursor: pointer;
    text-align: center;
}
.logo{
    padding-top: 1%;
}
.welcome-text{
    font-family: "Press Start 2P";
    font-size: 30px;
    text-align: center;
}
.play-button{
    margin-top: 8%;
}
.hello-text{
    margin-top: 10%;
    margin-bottom: 15%;
}
.hello{
    font-family: "VT323";
    font-size: 40px;
}
#user{
    font-family: "Press Start 2P";
    font-size: 40px;
}
.hello-left{
    margin-left: 3%;
}
.hello-right{
    margin-right: 3%;
}
.label-text{
    font-family: "VT323";
    font-size: 40px;
}
.value-text{
    font-family: "Press Start 2P";
    font-size: 40px;
}

/* latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v11/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
