body {
    padding: 0;
    margin: 0;
}
.header {
    background-image: url('/images/background-01.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 5px 50px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.menu {
    margin-left: 30px;
    margin-top: 5%;
}

.logo {
    font-size: 1.4em;
    font-weight: 600;

}


/* --------- Extra ------------ */

.extra {
    margin-right: 30px;
    margin-top: 5%;
}
