<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon"
          type="image/png"
          href="/images/pizza type-03.png">
    <title>Pizza Maker</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pizza.css" rel="stylesheet">
</head>
<body>
    <div class="card-deck">
        <div class="card d-flex text-center" style="width: 18rem; margin: 0 auto 5px;">
            <div class="card-body">
                <p class="align-content-center" id="text-pepperoni" th:text="'Pepperoni: ' + ${pepperoni}"></p>
                <input type="hidden" id="number-pepperoni" th:value="${pepperoni}">
            </div>
        </div>
        <div class="card d-flex text-center" style="width: 18rem; margin: 0 auto 5px;">
            <div class="card-body">
                <p class="align-content-center" id="text-mushroom" th:text="'Mushroom: ' + ${mushroom}"></p>
                <input type="hidden" id="number-mushroom" th:value="${mushroom}">
            </div>
        </div>
        <div class="card d-flex text-center" style="width: 18rem; margin: 0 auto 5px;">
            <div class="card-body">
                <p class="align-content-center" id="text-cheese" th:text="'Cheese: ' + ${cheese}"></p>
                <input type="hidden" id="number-cheese" th:value="${cheese}">
            </div>
        </div>
    </div>

    <div class="alert alert-danger alert-dismissible collapse" role="alert" id="maxtopping">
        The maximum number of each topping is 8!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-primary alert-dismissible collapse" role="alert" id="nosubmit">
        No pizza to submitted!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-primary alert-dismissible collapse" role="alert" id="notrash">
        No pizza to throw away!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-primary alert-dismissible collapse" role="alert" id="already">
        Pizza Already Made!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-primary alert-dismissible collapse" role="alert" id="nopizza">
        No pizza to be decorate!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div align="center">
        <canvas id="pizzaCanvas" width="450" height="450"></canvas>
    </div>

    <input type="hidden" id="pizza-id" th:value="${id}">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/pizza.js"></script>
</body>
</html>
